body {
    background: grey;
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}
.a{
    margin: 50px;
    width: 30%;
    height: 15vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.a button{
    width: 25%;
    height: 25%;
    border-radius: 30px;
}
.a button:hover{
    cursor: pointer;
}
.a .b1{
    background-color: rgb(97, 155, 194);

}
.a .b2{
    background-color: orange;

}
.a .b3{
    background-color: rgb(169, 22, 169);

}